# Projet-Kub/app/kubernetes/service.yaml

apiVersion: v1
kind: Service
metadata:
  name: devops-webapp-service
spec:
  selector:
    app: devops-webapp # Assurez-vous que cela correspond aux labels du Deployment
  type: NodePort
  ports:
    - protocol: TCP
      port: 80         # Port standard du service (port interne du Service)
      targetPort: 5000 # Port écouté par votre application Flask dans le conteneur
      nodePort: 30080  # <-- Port exposé sur le(s) nœud(s) K3s (redirigé vers le port 8081 de votre hôte)